.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;

    margin-left: 300px;
    margin-top: 150px;
    margin-bottom: 150px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

div .note{
    background-color: #ffefd7;
    border-left: solid 4px #f39824;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

.option-box {
  height:200px; 
  overflow: auto;
}

.header img {
  float: left;
  width: 20px;
  height: 20px;
}

.header h4 {
  position: relative;
  left: 10px;
}

.icon img{
  float: left; 
  width: 50px; 
  height: 50px;
  padding-top: 20px;
  padding-right: 10px;
}

.half-width fieldset{
  width: 40%;
  position: relative;
}

.full-width fieldset{
  width: 90%;
}